<div class="main-content">
  <div class="header-content employee-header">
    <div class="emp-detail-text">
      Employee Details<br>
     
      <div class="emp-count">{{employee.length}}</div>
    </div>
    
    <button class="add-button" (click)="onAddUser()"><img src="../assets/plus_symbol.svg" />Add User</button>
  </div>

  <div class="table-main">
    <table id="table-display" class="table">
      <tr>
        <!--Table header-->

      
        <th>Id</th>
        <th>Profilephoto</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Start Date</th>
        <th>notes</th>
        <th>Actions</th>
      </tr>

      <!-- Using ngFor loop getting all the employee's from the database and displaying it 
      on the dashboad -->
      <tr *ngFor="let emp of employee" class="detailoftab">
        <td>{{emp.employeeId}}</td>
        <td><img [src]="emp.profilePic" alt=""></td>
        <td>{{emp.firstName | titlecase}}</td>
        <td>{{emp.lastName | titlecase}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.department}}</td>
        <td>{{emp.salary | currency:'&#8377;' }}</td>
        <td>{{emp.date | date }}</td>
        <td>{{emp.notes  }}</td>
        <td>
          
        
          <img src="../assets/edit.svg" (click)="editById(emp.employeeId)" />
      
      
         
          <img src="../assets/delete.svg" (click)="deleteById(emp.employeeId)" />
          <!-- &nbsc is used for giving spaces  -->

        </td>
      </tr>
    </table>
  </div>
</div>