.error{
    background-color:gray;
    color:green;
    padding: 10px;
    text-align: center;
    content: "\a";
}
.click{
    color:grey;
    padding: 5px;    
    text-align: center;
}
.click:hover{
    color:green;
    text-align: center;
}
