

<h1 class="error" > Id not found please revisit the page </h1>
<button class="click">click here</button>
<!-- <h3 style="color:darkolivegreen;text-align: center;">to revisit the page</h3>
<div class="text" ngForm>
    <input style="bottom: 0mm;" type="text" name="user-name"  [value]=firstName>
    <input type="text" name="user-name"  [value]=firstName>
    <input type="text" name="user-name"  [value]=firstName>
    <input type="text" name="user-name"  [value]=firstName>
    <div *ngIf="firstName.invalid  && (name.dirty || name.touched)"
    class="alert">
</div> -->